/* src/components/ClientTable.css */

/* Status styles */
.status-in-progress {
  color: #1e90ff; /* Light blue for 'en cours' */
}

.status-sold {
  color: #32cd32; /* Light green for 'vendu' */
}

.status-lost {
  color: #ff6347; /* Light red for 'perdu' */
}

/* Budget styles */
.budget-low {
  color: orange;
}

.budget-medium {
  color: green;
}

.budget-high {
  color: red;
}

/* Modal button styles */
.modal-button-save {
  background-color: #4caf50; /* Green */
  color: white;
}

.modal-button-cancel {
  background-color: #f44336; /* Red */
  color: white;
}
